{* 
    Latte template for Avatar       
    ---
    @param $bubble - id for bubble span
    @param $name - id for avatar span        
*}

{block content}
<div class="region">
    <span id="{$bubble}"></span>
    <div id="{$name}"></div>
</div>